# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
/media/
staticfiles/
static_root/
*.log

# Virtual env
.venv/
env/
venv/

# Secrets
.env

# Editors / OS
.vscode/
.idea/
.DS_Store

# Node (nếu có)
node_modules/
